node_modules
# Keep environment variables out of version control
.env

/generated/prisma
.DS_Store
.vscode/


# 로그 파일
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS별로 생기는 파일
Thumbs.db
ehthumbs.db
Desktop.ini

# MacOS
.AppleDouble
.LSOverride

# npm과 관련된 캐시
.npm
.pnpm-store

# 환경별 빌드 결과
dist/
build/
out/

# Prisma 관련 (개발용 디렉토리 캐시)
.prisma

# 테스트 관련 캐시
coverage/
jest-coverage/

# local database 혹은 SQLite 사용 시
*.sqlite
*.sqlite3
*.db
*.db-journal

# 환경변수 예시파일 (개발용으로만 필요할 경우)
.env.local
.env.development
.env.production
.env.test
